*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.bannner{
    background-image: url(images/donation5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
   
}
.bannner h1{
    font-size: 70px;
    color: white;

}
.bannner p{
    font-size: 30px;
    color: white;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.bannner a{
    color: white;
    background-color: #211b1b;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 30px;
}