*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.bannner{
    background-image: url(images/donation5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
   
}
.bannner h1{
    font-size: 70px;
    color: white;

}
.bannner p{
    font-size: 30px;
    color: white;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.bannner a{
    color: white;
    background-color: #211b1b;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.banner-bottom{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.banner-bottom h1{
    font-size: 50px;
}
.banner-bottom p{
    font-size: 18px;
    width: 50%;
    margin: 20px auto;
    color: #838383;
}
.amount{
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
    
}
.div-1{
    color: #707070;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px;
}
.div-2{
    color: #707070;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px;
}
.div-3{
    color: #FF5959;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    border-radius: 5px;
}
.div-4{
    color: #707070;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px;
}
.div-5{
    color: #707070;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px;
}
.banner-bottom span{
    font-size: 25px;
    color: #a7a7a7;
    margin: 50px auto;
    display: inline-block;
    padding-bottom: 30px;
    width: 50%;
    border-bottom: 2px solid #707070;

}
.banner-bottom a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    font-size: 25px;
    border-radius: 5px;
    padding: 15px 15px;
    display: inline-block;

}

.Donation{
    padding: 80px 0;
}
.donate-header{
    text-align: center;
}
.donate-header h1{
    font-size: 50px;
    color: black;
}
.donate-header span{
    font-size: 20px;
    color: #707070;
    display: inline-block;
    margin-top: 30px;
    width: 30%;
}

.donate-table{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    
    
    
}

.Donation-div-1{
    padding: 50px 30px;
    width: 23%;
    height: auto;
    background-color: #EDF5F6;
    margin: 0 2%;
    border-radius: 5px;

}
.Donation-div-1 h3{
    font-size: 25px;
    margin: 15px 0;
}
.Donation-div-1 p{
    font-size: 20px;
    margin: 15px 0;
    color: #838383;
}
.Donation-div-2{
    padding: 50px 30px;
    width: 23%;
    height: auto;
    background-color: #FFEEEE;
    margin: 0 2%;
    border-radius: 5px;

}
.Donation-div-2 h3{
    font-size: 25px;
    margin: 15px 0;
}
.Donation-div-2 p{
    font-size: 20px;
    margin: 15px 0;
    color: #838383;

}
.Donation-div-3{
    padding: 50px 30px;
    width: 23%;
    height: auto;
    background-color: #FFF4D6;
    margin: 0 2%;
    border-radius: 5px;

}
.Donation-div-3 h3{
    font-size: 25px;
    margin: 15px 0;
}
.Donation-div-3 p{
    font-size: 20px;
    margin: 15px 0;
    color: #838383;

}

